.firstHeader1 {
  box-sizing: border-box;
  /* position: absolute; */
  width: 57vw;
  height: 42px;
  left: 203px;
  top: 165px;
  background: #e4eaee;
  border: 1px solid #d9d9d9;
  border-radius: 7px 7px 0px 0px;
  margin-top: -176px;
}
.inputBox {
  position: absolute;
  width: 57vw;
  /* min-width: 547px; */
  height: 430px;
  left: -55%;
  top: 198px;
  /* min-width: 700px; */
  background: #f1f3f4;
  box-shadow: 0px 3px 3px rgba(149, 157, 165, 0.25);
  border-radius: 6px;
  /* transform: translate(-50%,-50%); */
  place-items: center;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1100px) {
  .inputBox {
    position: absolute;
    left: -37%;
  }
}
.inputer {
  margin-top: -180px;
}
.textLeft {
  text-align: end;
  margin-top: 10px;
}
.form-control {
}
@media (max-width: 1100px) {
  .form-control {
    margin-right: -50px !important;
  }
}
