.addingBtn {
  position: absolute;

  width: 140px;
  left: 81px;
  background: #00a3ff;
  height: 40px;
  border-radius: 5px;
  top: 134px;
}

.addingBtn :active {
  border-color: #f8f9fa !important;
}

@media (min-width: 768px) and(max-width:830px) {
  .submitBtn {
    left: 68.7%;
    width: 135px;
  }
}

.addIcon {
  position: absolute;
  left: 8.59%;
  right: 82.21%;
  top: 27.5%;
  bottom: 35%;
  width: 15px;
  height: 15px;
}
._2zTZb ._26m-x {
  border: none !important;
  height: 50px;
}
._2zTZb ._26m-x ._MezIq {
  display: none;
  width: 0px;
  height: 0px;
}
._2zTZb ._1aVmc ._2G9wK > button {
  color: #00a3ff !important;
}
._2zTZb ._26m-x ._1x_OI {
  color: #00a3ff;
}
.mb-t10 {
  margin-top: 50px;
}
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  height: 51px;
  overflow: hidden;
  z-index: 1;
}
.projectCounter {
  box-sizing: border-box;
  position: absolute;
  width: 123px;
  height: 52px;
  left: 1109px;
  top: 461px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 0px 0px 8px 0px;
}
.projectCounter1 {
  box-sizing: border-box;
  position: absolute;
  width: 123px;
  height: 52px;
  left: 1034px;
  top: -1px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 0px 0px 8px 0px;
}

.projectStart {
  left: 753px !important;
}

.projectStop {
  left: 920px !important;
}

.projectTotal {
  left: 1065px !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 0px !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: #00a3ff !important;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 19px !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #00a3ff !important;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 19px !important;
}
.projectInput {
  /* box-sizing: border-box !important;
  position: relative !important;
  width: 1035px !important;
  height: 52px !important;
  left: 74px !important;
  top: 446px !important;
  background: #ffffff !important;
  border: 1px solid #d9d9d9 !important;
  border-radius: 0px !important; */
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-style: none !important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: #00a3ff !important;
  right: 55px !important;
  top: 14px !important;
}
.css-q8hpuo-MuiFormControl-root {
  width: 203px !important;
}
.css-yf8vq0-MuiSelect-nativeInput {
  display: none;
}
.spacing {
  position: relative;
  top: 317px;
  margin-bottom: 41%;
  margin-top: 38px;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  -webkit-transform: translate(14px, -9px) scale(0.005) !important;
  transition: -webkit-transform 5s !important;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1) !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root:active,
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input:active {
  transition: color 200ms cubic-bezier(0, 0, 0.29, 0.59) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.62, 0.21) 0ms,
    max-width 200ms cubic-bezier(0, 0, 0.45, 0.5) 0ms !important;
}

.start {
  position: relative;
  left: 7px;
  bottom: 55px;
  width: 50%;
}
.stop {
  /* position: relative;
  bottom: 80px;
  left: 176px; */

  position: relative;
  left: 166px;
  bottom: 81px;
}

.react-ios-time-picker-main {
  width: 0%;
}

.submitBtn {
  position: absolute;
  left: 1091px;
  top: 134px;
  background: #00a3ff;
  width: 140px;
  height: 40px;
  border-radius: 5px;
}

@media only screen and (min-width: 1023px) and (max-width: 1200px) {
  .submitBtn {
    position: absolute;
    left: 518px !important;
  }
  .projectStart {
    left: 224px !important;
  }
  .projectStop {
    left: 383px !important;
  }
  .projectTotal {
    left: 535px !important;
  }
  .projectCounter {
    width: 92px !important;
    left: 572px !important;
  }
  .projectCounter1{
    width: 100px;
    left: 506px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .submitBtn {
    position: absolute;
    left: 590px !important;
  }
  .projectStart {
    left: 265px !important;
  }
  .projectStop {
    left: 425px !important;
  }
  .projectTotal {
    left: 613px !important;
  }
  .projectCounter {
    width: 123px !important;
    left: 642px !important;
  }
    .projectCounter1 {
    width: 123px !important;
    left: 578px !important;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .submitBtn {
    position: absolute;
    left: 720px !important;
  }
  .projectStart {
    left: 266px !important;
  }
  .projectStop {
    left: 426px !important;
  }
  .projectTotal {
    left: 714px !important;
  }
  .projectCounter {
    width: 123px !important;
    left: 781px !important;
  }
  .addingBtn {
    left: 110px;
  }
  .submitBtn {
    left: 750px !important;
  }
   .projectCounter1 {
    width: 123px !important;
    left: 678px !important;
  }
}
