.pswheader {
}
.pswResTitle {
  font-size: 18px;
  font-weight: 600;
  font-family: "inter";
  position: relative;
  top: 242px;
  left: 390px;
}
.pswPara {
  font-size: 15px;
  font-weight: 500;
  font-family: "inter";
  color: rgb(120 124 126 / 45%);
  width: 26%;
  text-align: left;
  position: relative;
  top: 280px;
  left: 206px;
}
.boxerpsw {
  position: relative;
  width: 460px;
  height: 79px;
  top: 347px;
  display: block;
  margin: auto;
  align-items: center;
  left: -277px;
  display: flex;
  flex-flow: column;
  margin-top: 15px;
}
.restForm {
  border: solid 0.5px #746a6a6e;
  position: relative;
  top: -54px;
  left: 35px;
  margin: 6px;
  width: 370px;
  text-align: initial;
  border-radius: 5px;
}
.pswEmail {
  height: 40px;
  width: 100%;
  padding: 10px;
}
.restEmail {
  height: 40px;
  width: 100%;
  padding: 10px;
}
.restForm {
}
.restpsws {
  height: 40px;
  width: 100%;
  padding: 10px;
}
.restnewPSw {
  height: 40px;
  width: 100%;
  padding: 10px;
}

@media screen and (min-width: 1023px) and (max-width: 1200px) {
  .boxerpsw {
    position: relative !important;
    left: -165px !important;
  }
  .pswResTitle {
    left: 315px;
  }
  .pswPara {
    left: 130px;
  }
}

@media (min-width: 1200px) and (max-width: 1200px) {
  .boxerpsw {
    position: relative !important;
    left: -278px !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .restForm {
    position: relative;
    left: -38px;
  }
}
