.Drop1 {
  width: 123px;
  height: 42px;
}
.Drop2 {
  width: 178px;
  height: 42px;
}
.Drop3 {
  width: 104px;
  height: 42px;
}
.firstbox {
}
.firstHeader {
}
.planDiv {
  box-sizing: border-box;
  position: absolute;
  width: 571px;
  height: 42px;
  left: 405px;
  /* top: 205px; */
  background: #e4eaee;
  /* border: 1px solid #d9d9d9; */
  border-radius: 0px 7px 7px 0px;
}
.BluButton {
  position: absolute;

  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #00a3ff;
  border-radius: 0px 6px 6px 0px;
  width: 140px;
  height: 41px;
  /* left: 835px; */
}
.fontBlue {
  position: absolute;
  left: 13.67%;
  right: 15.95%;
  top: 27.5%;
  bottom: 25%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.btn-primary {
  background-color: #e4eaee !important;
  color: #505558 !important;
  border-color: #e4eaee !important;
  height: 42px !important;
}
.btn-primary:hover {
  background-color: #00a3ff !important;
  color: #e4eaee !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: rgba(38, 143, 255, 0.5);
}
.firstHeader {
  box-sizing: border-box;
  /* position: absolute; */
  width: 65vw;
  height: 42px;
  left: 203px;
  top: 165px;
  background: #e4eaee;
  border: 1px solid #d9d9d9;
  border-radius: 7px 7px 0px 0px;
}
.firstBox {
  box-sizing: border-box;
  /* position: absolute; */
  width: 65vw;
  height: 500px;
  left: 1568px;
  top: 711px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 7px 7px 0px 0px;
  /* transform: rotate(180deg); */
  margin-top: 94px;
}
.whitebox2 {
}

.sorter {
  display: flex;
  flex-flow: row wrap;
  background-color: #e4eaee;
  position: absolute;
  /* left: 201px; */
  top: 93px;
  width: 65vw; /* Set width to 100% on small screens */
}

.Drop1 {
  width: 30%; /* Set width to 30% of .sorter on small screens */
  max-width: 123px; /* Add max-width to prevent element from becoming too small */
}

.Drop2 {
  width: 40%; /* Set width to 40% of .sorter on small screens */
  max-width: 178px; /* Add max-width to prevent element from becoming too small */
}

.Drop3 {
  width: 30%; /* Set width to 30% of .sorter on small screens */
  max-width: 104px; /* Add max-width to prevent element from becoming too small */
}

.bar1 {
}
@media (max-width: 1100px) {
  .bar1 {
    margin-top: 183px !important;
    margin-left: 15px !important;
  }
}
.Download {
  position: absolute;
  /* left: 83%; */
  right: 0%;
  top: 93%;
  bottom: 0%;
  width: 154px;
  height: 35px;

  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-right: 73px;
}
